@import "./styles/spacing.scss";
@import "./styles/colors.scss";

*,
*:after,
*:before {
  box-sizing: border-box;
}

:root {
  --background: #{$fadedWhite};
  --foreground: #{$fadedBlack};
  --darkPurple: #{$darkPurple};
  --lightBlue: #{$lightBlue};
  --green: #{$green};
  --orange: #{$orange};
  --fadedWhite: #{$fadedWhite};
  --highlight: #{$highlight};
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #{$darkPurple};
    --foreground: #{$white};
  }
  html {
    color-scheme: dark;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

.highlight {
  color: var(--highlight);
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}
